<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="cdk" connectionString="Data Source=HYD-DEHARISH-L;Initial Catalog=cdk;Integrated Security=True"
      providerName=".NET Framework Data Provider for SQL Server" />
    <add name="cdkConnectionString" connectionString="Data Source=HYD-DEHARISH-L;Initial Catalog=cdk;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>

    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <urlMappings enabled="true">
      <add url="~/home.aspx" mappedUrl="~/cdk.ashx"/>
    </urlMappings>

  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebService1Soap" allowCookies="true" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:61947/WebService1.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebService1Soap" contract="Calculator.WebService1Soap"
        name="WebService1Soap" />
    </client>
  </system.serviceModel>
</configuration>